:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    font-weight: bold;
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.orange {
    background-color: #fa8231;
    color: #fff;
}

.button.orange:active {
    background-color: #fa8231cc;
}

.button.green {
    background-color: #28a745;
    color: #fff;
}

.button.green:active {
    background-color: #28a745cc;
}

.button.blue {
    background-color: #007bff;
    color: #fff;
}

.button.blue:active {
    background-color: #00407fcc;
}

.button.red {
    background-color: #f01a1a;
    color: #fff;
}

.button.red:active {
    background-color: #f01a1acc;
}