:root {
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
  }
.display {
  grid-column: span 4;
  background-color: #0004;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  font-size: 2.1em;
  overflow: hidden;
}
.scroll {
  display: inline-block;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.scroll::-webkit-scrollbar {
  width: 10px;
  height: 13px;
}

.scroll::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 6px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
